#firstPage {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50vh;
    background-color: #5F85C4;
}

#firstPage h1 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2em;
    
}