@font-face {
    font-family: PokemonGB;
    src: url(../fonts/PokemonGBChanged.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Fredoka;
}

nav {
    background-color: #5F85C4;
}

div#firstPage {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    
}

a {
    text-decoration: none;
    color: #5F85C4;
    letter-spacing: 0px;
}

h1 {
    font-family: 'PokemonGB', sans-serif;
    font-size: 3rem;
    letter-spacing: -5px;
    color: #5F85C4;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 0 10px; /* Evita que el texto se corte en pantallas pequeñas */
    box-sizing: border-box;
}

/* Imagen centrada y responsiva */
#image {
    display: block;
    margin: 20px auto;
    max-width: 60%; /* Máximo ancho: 90% del contenedor */
    height: 25%; /* Mantiene la proporción de la imagen */
}

@media (max-width: 740px) {
    h1 {
        font-size: 2rem;
    }

    div#firstPage {
        height: 70vh;
    }
}