/* Tipos de letra */

@font-face {
    font-family: PokemonGB;
    src: url(../fonts/PokemonGBChanged.ttf);
}

@font-face {
    font-family: PokemonEmeraldLatin;
    src: url(../fonts/PokemonEmeraldLatin.ttf);
}

/* Font oficial Pokemon en negro */
@font-face {
    font-family: PokemonSolid;
    src: url(../fonts/Pokemon_Solid.ttf);
}

/* Font oficial Pokemon en blanco */
@font-face {
    font-family: PokemonHollow;
    src: url(../fonts/Pokemon_Hollow.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Medium.ttf);
}

/* Letra tipo Arcade (Para imagenes de "Minijuegos in-game"*/
@font-face {
    font-family: PressStart2P;
    src: url(../fonts/PressStart2P.ttf);
}

@font-face {
    font-family: Fredoka;
    src: url(../fonts/Fredoka.ttf);
}

/* Reglas generales */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Fredoka;
}

body {
    overflow-x: hidden;
}

footer {
    background-color: #678cf8;
    padding-top: 15px;
}

/* Header */
nav {
    display: flex;
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 20px 30px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}

 /* Logo */
#logo {
    display: flex;
    align-items: center;
    margin-right: auto;
    height: 40px;
    overflow: hidden;
    position: relative;
}

#logoNormal {
    height: 100%;
    width: auto;
}

/* NAVEGACION */
nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    justify-content: flex-end;
}

nav li {
    margin-right: 15px;
    display: flex;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    align-items: center;
    color: white;
}

nav li:hover {
    color: #03a3ff;
}

nav li:first-child {
    margin-right: 0;
    transform: none;
}

nav li:last-child {
    margin-right: 0;
    transform: none;
}

nav li a {
    color: white;
    text-decoration: none;
}

 /* Bandera */

.flag-container {
    display: flex;
    align-items: center;
}

.flag {
    width: 30px;
    height: auto;
    cursor: pointer;
    margin-left: 10px;
    display: inline-block;
}

/* MAIN */

 /* Primera pantalla */

#rectanguloGrande {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 105vh;
    background-image: url(../multimedia/images/fondoEevee.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

 /* Texto de la versión del juego */
#versionJuego {
    text-align: center;
    white-space: nowrap;
    font-size: 3rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

 /* Contenedor del botón de descarga */
.descargar-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.descargar-boton {
    display: flex;
    align-items: center;
    padding: 12px 40px;
    font-size: 1.1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 30px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.descargar-boton:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
}

.descargar-imagen {
    width: 35px;
    height: auto;
    margin-right: 15px;
    padding: 5px;
    border-radius: 5px;
}

#descargar-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#versionTexto {
    float: left;
    color: #ffffff;
    font-size: 0.7rem;
    color: #eeeeee;
    margin-top: 1px;
}

 /* Segunda pantalla */

/* Segundo rectángulo debajo de la vista inicial */
#segundoRectangulo {
    position: relative;
    width: 100vw;
    height: auto;
    background-color: #193487 !important;
    z-index: 998;
    padding: 40px 20px;
}

#segundoRectangulo * {
    text-align: center;
    color: white;
}

#segundoRectangulo iframe {
    align-items: center;
}

.video {
    margin-top: 30px !important;
    margin-bottom: 40px !important;
    padding: 15px;
    margin: 0 auto;
    width: 100%;
    max-width: 680px;
    height: auto;
    background-color: black;
    border-radius: 15px;
}

#segundoRectangulo h2 {
    color: white;
    padding-top: 30px;
    margin-bottom: 20px;
    font-family: PokemonGB;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}

h3 {
    font-family: PressStart2P;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.content-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    padding: 0 20px;
}

.content-section img {
    width: 350px;
    height: auto;
    margin-right: 50px;
}

.content-section.reverse img {
    width: 350px;
    height: auto;
    margin-right: 0px;
}

.content-text {
    max-width: 500px;
    text-align: left;
    margin-right: 50px;
}

.content-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

#segundoRectangulo p {
    margin-bottom: 7px;
}

.separateCategories {
    width: 90%;
    border: none;
    height: 1px;
    background-color: rgb(89, 138, 245);
    margin: 0px auto;
}

.separateCategories:last-of-type {
    margin-bottom: 30px;
}

/* Div que contiene las tecnologias utilizadas */
#hechoConDiv {
    padding-top: 50px;
    padding-bottom: 10px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

/* Estilos para la imagen y el contenedor */
.image-container {
    display: flex;
    gap: 20px;
}

/* Contenedor individual de cada imagen y su tooltip */
.image-item {
    position: relative;
    display: inline-block;
}

/* Imagen dentro del contenedor */
.image {
    width: 125px;
    height: auto;
    cursor: pointer;
}

/* Tooltip (texto que aparece al pasar el cursor) */
.tooltip {
    visibility: hidden;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 8px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    z-index: 10;
}

/* Mostrar el texto al pasar el cursor sobre la imagen */
.image-item:hover .tooltip {
    visibility: visible;
}

/* Footer */

#divFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#logoNormalFooter {
    width: 60px;
    height: auto;
}

#CopyrightTextoFooter {
    margin-top: 10px;
    font-size: 0.9rem;
    color: black;
    margin-bottom: 10px;
}

footer p {
    font-size: 0.8rem;
    margin-bottom: 5px;
}

footer hr {
    margin: 10px 0;
    width: 200px;
    border: none;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.5);
}

/* pruebas */

/*
    From Uiverse.io by Yaya12085
    Link: https://uiverse.io/Yaya12085/old-lionfish-77
*/
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    border: none;
    background: #0ba360;
    background: linear-gradient(
      to right,
      #0271e7,#208afc
    );
    color: white;
    font-family: inherit;
    text-align: center;
    font-size: 13px;
    box-shadow: 0px 14px 56px -11px #0259b6;
    width: 11em;
    padding: 0.7em;
    transition: all 0.4s;
    cursor: pointer;
  }
  
  .button svg {
    width: 25px;
    height: 25px;
  }
  
  .button svg path {
    fill: white
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
  }
  
  .button span:after {
    content: 'for free';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.7s;
  }
  
  .button:hover span {
    padding-right: 3.80em;
  }
  
  .button:hover span:after {
    opacity: 4;
    right: 0;
  }