nav {
    background-color: #5F85C4;
}

body {
    background-color: #cfe1ff;
}

h1 {
    font-family: 'PokemonGB', sans-serif;
    font-size: 3rem;
    letter-spacing: -5px;
    color: #5F85C4;
    text-align: center;
    margin-top: 20%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}