body {
    background-color: rgb(217, 236, 252);
}

/* First page */

#firstPage {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 25vh;
    background-color: #5F85C4;
}

#firstPage h1 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3em;
    text-align: center;
}

/* Second page */

#secondPage {
    align-items: flex-start;
    padding: 0px;
    margin-left: 10%;
    margin-right: 30%;
}

div#secondPage {
    margin-top: 40px;
    margin-bottom: 20px;
    flex-direction: column;
}

#secondPage h2 {
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 10px;
    margin-top: 15px;
    color: #478CBF;
}

.update {
    background-color: #fff0ee;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}

details summary {
    display: flex;
    color: #478CBF;
    font-weight: bold;
    font-size: 1.25rem;
    padding: 1rem;
    cursor: pointer;
    list-style: none;
    padding: 1rem;
    font-weight: bold;
    color: #478CBF;
    font-size: 1.25rem;
}

/* El ícono */
details summary i {
    font-size: 1rem;
    margin-left: auto;
    transition: transform 0.3s ease;
}

details p {
    margin: 0;
    padding: 1rem;
}

details:hover,details[open] {
    box-shadow: 5px 5px 15px #d9d9d9;
}

/* Reglas responsive */

@media (max-width: 768px) {

    #firstPage h1 {
        font-size: 2rem;
    }

    #firstPage {
        height: 35vh;
    }

    #secondPage {
        width: 100%;
        margin-left: 0%;
    }

    #secondPage h2 {
        margin-left: 5%;
    }

    .update {
        width: 90%;
        margin-left: 5%;
    }

    details summary i {
        align-content: center;
    }

}